<div *ngIf="name" class="story-container">
  <div class="title">The Story of {{name}}</div>
  <app-scrollable-container flexPadAll="1%">
    <div *ngFor="let timelineItem of timeline" class="story-item-container">
      <div class="icon">
        <mat-icon color="primary">{{timelineItem.type === "event" ? "event" : "directions_run"}}</mat-icon>
      </div>
      <div class="title">
        <button *ngIf="timelineItem.type === 'event'; else movementTitle" mat-button
                routerLink="{{constructPath(RoutePaths.entity, {worldId: worldId, entityId: timelineItem.eventId})}}">
          {{timelineItem.title}}</button>
        <ng-template #movementTitle>
          <div>{{timelineItem.title}}</div>
        </ng-template>
      </div>
      <div *ngIf="timelineItem.details" class="details">
        {{timelineItem.details}}
      </div>
    </div>

  </app-scrollable-container>
</div>
