<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()" onclick="this.blur()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a routerLink="{{RoutePaths.home}}">Home</a>
  </div>
  <div fxFlex fxLayoutAlign="end" fxHide.xs>
    <mat-nav-list fxLayout="row" fxLayoutGap="2ch">
      <a routerLink="{{RoutePaths.entitySearch}}">Search</a>
      <a routerLink="{{RoutePaths.worldCalendar}}">Calendar</a>
      <button mat-icon-button (click)="doLogin()" onclick="this.blur()">Login</button>
      <button mat-icon-button (click)="doLogout()" onclick="this.blur()">Logout</button>
    </mat-nav-list>
  </div>
</mat-toolbar>
