<div class="sidebar-and-contents-container">
  <app-scrollable-container class="sidebar" flexPadTop="1vh" flexPadLR="1ch">
    <div *ngIf="worlds.size > 0" class="line-centered-header">
      <span>Worlds</span>
      <button mat-icon-button color="accent"
              routerLink="{{constructPath(RoutePaths.entity, {worldId: 'new', entityId: 'world'})}}">
        <mat-icon matTooltip="New {{selectedType}}">add_circle</mat-icon>
      </button>
    </div>
    <div *ngFor="let worldEntry of worlds | keyvalue" class="worlds-content">
      <button mat-button class="world"
              routerLink="{{constructPath(RoutePaths.entity, {worldId: worldEntry.key, entityId: worldEntry.key})}}">
        <mat-icon>public</mat-icon>
        {{worldEntry.value.name}}
      </button>

      <button mat-button class="map" routerLink="{{constructPath(RoutePaths.map, {worldId: worldEntry.key})}}">
        <mat-icon>map</mat-icon>
        World Map
      </button>
      <button mat-button class="locations" (click)="view(worldEntry.key, 'Location')">
        <mat-icon>location_city</mat-icon>
        Locations
      </button>
      <button mat-button class="travelers" (click)="view(worldEntry.key, 'Traveler')">
        <mat-icon>hiking</mat-icon>
        Travelers
      </button>
      <button mat-button class="events" (click)="view(worldEntry.key, 'Event')">
        <mat-icon>event</mat-icon>
        Events
      </button>
    </div>
  </app-scrollable-container>
  <div class="spacer"></div>
  <app-scrollable-container class="contents" flexPadTop="1vh" flexPadLeft="1ch">
    <div *ngIf="!showEntities">
      <div *ngIf="user | async; else notLoggedIn">
        Select a World or any of its Map, Locations, Travelers, or Events.
      </div>
      <ng-template #notLoggedIn>
        <div> Login to begin.</div>
      </ng-template>
    </div>

    <div *ngIf="showEntities">
      <div class="line-centered-header">
        <span>{{worldName}} - {{selectedType}}s</span>
        <button mat-icon-button color="accent"
                routerLink="{{constructPath(RoutePaths.entity, {worldId: worldId, entityId: 'new' + selectedType})}}">
          <mat-icon matTooltip="New {{selectedType}}">add_circle</mat-icon>
        </button>
      </div>
      <div *ngFor="let entityEntry of entities | keyvalue: valueAscOrder" class="entities-row">
        <button mat-button matTooltip="Edit"
                routerLink="{{constructPath(RoutePaths.entity, {worldId: worldId, entityId: entityEntry.key})}}">
          {{entityEntry.value.name}}
        </button>
        <button mat-icon-button color="accent" *ngIf="entityEntry.key.startsWith('location') || entityEntry.key.startsWith('traveler')" class="small-icon-button"
                routerLink="{{constructPath(RoutePaths.story, {worldId: worldId, entityId: entityEntry.key})}}"
                matTooltip="View Timeline">
          <mat-icon>route</mat-icon>
        </button>
      </div>
    </div>
  </app-scrollable-container>
</div>
