:host {
  display: block;
  width: 100%;
  height: 100%;
}

.sidebar-and-contents-container {
  display: flex;
  height: 100%;
  flex-direction: row;
}
.sidebar {
  flex-grow: 0;
  width: 30ch;
}
.spacer {
  flex-grow: 0;
  background-color: rgba(156, 39, 176, 0.51);
  width: 0.3ch;
}
.contents {
  flex-grow: 1;
}

.worlds-header {
  display: flex;
  align-items: center;
}
.worlds-header > span {
  font-size: x-large;
}
.worlds-content {
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-areas:
    "world world"
    ".      map"
    ".      locations"
    ".      travelers"
    ".      events";
}
.worlds-content > * {
  justify-content: flex-start;
}
.worlds-content > .world {
  grid-area: world;
}
.worlds-content > .map {
  grid-area: map;
}
.worlds-content > .locations {
  grid-area: locations;
}
.worlds-content > .travelers {
  grid-area: travelers;
}
.worlds-content > .events {
  grid-area: events;
}
