:host {
  display: block;
  width: 100%;
  height: 100%;
}

.sidebar-and-contents-container {
  display: flex;
  height: 100%;
  flex-direction: row;
}
.sidebar {
  flex-grow: 0;
  width: 50ch;
}
.spacer {
  flex-grow: 0;
  background-color: rgba(156, 39, 176, 0.51);
  width: 0.3ch;
}
.contents {
  flex-grow: 1;
}
//
//.world-side-header {
//  font-size: x-large;
//}
//.world-side-content button {
//  text-align: left;
//}
//.world-side-content button.indent {
//  padding-left: 5ch;
//}
//
//.side-bar-separator {
//  background-color: #9c27b0;
//}
//
//.entities-title {
//  font-size: x-large;
//}
//.entities-container {
//  overflow-y: auto;
//}
