:host {
  width: 100%;
  height: 100%;
}

.world-side-header {
  font-size: x-large;
}
.world-side-content button {
  text-align: left;
}
.world-side-content button.indent {
  padding-left: 5ch;
}

.side-bar-separator {
  background-color: #9c27b0;
}

.entities-title {
  font-size: x-large;
}
.entities-container {
  overflow-y: auto;
}
