<h1> Entity Search </h1>
<div>
  <button (click)="findEntities('location')">Find Locations</button>
  <button (click)="findEntities('traveler')">Find Travelers</button>
  <button (click)="findEntities('event')">Find Events</button>
  <span class="spacer"></span>
  <button (click)="toggleFilterVisibility()"> {{areFiltersVisible ? "Hide" : "Show"}} Filters</button>
</div>

<div *ngIf="areFiltersVisible">
  <div class="filter"><span> Name Is:         </span> <input [(ngModel)]="filterNameIs" placeholder="exact name"></div>
  <div class="filter"><span> Name Has:        </span> <input [(ngModel)]="filterNameHas" placeholder="occurs within name"></div>
  <div class="filter"><span> Tagged All:      </span> <input [(ngModel)]="filterTaggedAll" placeholder="comma-delimited tags"></div>
  <div class="filter"><span> Tagged Any:      </span> <input [(ngModel)]="filterTaggedAny" placeholder="comma-delimited tags"></div>
  <div class="filter"><span> Tagged Only:     </span> <input [(ngModel)]="filterTaggedOnly" placeholder="comma-delimited tags"></div>
  <div class="filter"><span> Tagged None:     </span> <input [(ngModel)]="filterTaggedNone" placeholder="comma-delimited tags"></div>
  <div class="filter"><span> Span Includes:   </span> <input [(ngModel)]="filterSpanIncludes" placeholder="comma-delimited tags"></div>
  <div class="filter"><span> Span Intersects: </span> <input [(ngModel)]="filterSpanIntersects" placeholder="comma-delimited tags"></div>
</div>

<hr>
<ul>
  <li *ngFor="let idNamePair of entityIdsAndNames | keyvalue">
    <code> {{idNamePair.key}} </code><i> ({{idNamePair.value}}) </i>
    <button (click)="showEntity(idNamePair.key)">Show Details</button>
  </li>
</ul>
<div *ngIf="selectedLocation !== undefined">
  <app-location [_location]="selectedLocation"></app-location>
</div>
