// TODO: figure out how to get these from the global theme
$primary: rgb(156, 39, 176);
$accent: rgb(105, 240, 174);
$warn: rgb(244, 67, 54);



mat-toolbar {
    height: 4ch;
    width: 100vw;
    background: transparent;
}

.spacer {
    flex: 1 1 auto;
}

.profile-image {
    height: 80%;
    border-radius: 50%;
}
