<mat-nav-list>
  <a mat-list-item routerLink="{{RoutePaths.home}}" (click)="onSidenavClose()">
    <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
  </a>
  <a mat-list-item routerLink="{{RoutePaths.entitySearch}}" (click)="onSidenavClose()">
    <mat-icon>search</mat-icon> <span class="nav-caption">Search</span>
  </a>
  <a mat-list-item routerLink="{{RoutePaths.worldCalendar}}" (click)="onSidenavClose()">
    <mat-icon>calendar_today</mat-icon> <span class="nav-caption">Calendar</span>
  </a>
</mat-nav-list>
