<div #draggableArea fxFlexFill class="draggable-area">
  <div #minHandle cdkDrag cdkDragBoundary=".draggable-area" class="draggable-handle" cdkDragLockAxis="{{cdkLockDirection}}"
       (cdkDragMoved)="onDragMin($event)" (cdkDragStarted)="onDragStart()"
       [ngClass]="isVertical ? 'vertical' : 'horizontal'"></div>
  <div #mainHandle cdkDrag cdkDragBoundary=".draggable-area" class="draggable-handle main" cdkDragLockAxis="{{cdkLockDirection}}"
       (cdkDragMoved)="onDragMain($event)" (cdkDragStarted)="onDragStart()"
       [ngClass]="isVertical ? 'vertical' : 'horizontal'"></div>
  <div #maxHandle cdkDrag cdkDragBoundary=".draggable-area" class="draggable-handle" cdkDragLockAxis="{{cdkLockDirection}}"
       (cdkDragMoved)="onDragMax($event)" (cdkDragStarted)="onDragStart()"
       [ngClass]="isVertical ? 'vertical' : 'horizontal'"></div>
</div>

