:host {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.draggable-area {
  background-color: rgba(245, 245, 245, 0.27);
  overflow: hidden;
}

.draggable-handle {
  background-color: #69f0ae;
  width: 10px;
  height: 10px;
}
.draggable-handle.main {
  background-color: #59d99a;
}
.draggable-handle.vertical {
  width: 100%;
}
.draggable-handle.horizontal {
  height: 100%;
}
