:host {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.draggable-area {
  background-color: rgba(245, 245, 245, 0.27);
  overflow: hidden;
  border-radius: 5px;
}

.draggable-handle {
  background-color: #711d80;
  width: 10px;
  height: 10px;
  box-shadow: inset 0 0 1.5px #000
}
.draggable-handle.main {
  background-color: #9c27b0;
}
.draggable-handle.vertical {
  width: 100%;
}
.draggable-handle.vertical.min {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.draggable-handle.vertical.max {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.draggable-handle.horizontal {
  height: 100%;
}
.draggable-handle.horizontal.min {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.draggable-handle.horizontal.max {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
