<app-scrollable-container _leftFxFlex="0.5ch" _rightFxFlex="0.5ch" _bottomFxFlex="0.5ch">
  <div fxLayout="row wrap" fxLayoutAlign="space-evenly">
    <!-- TODO: Move label into continuum input -->
    <!-- TODO: Move add spacing around continuum input -->
    <div>
      From:
      TODO
<!--      <app-continuum-input [(continuum)]="continuumLow"></app-continuum-input>-->
    </div>
    <div>
      To:
      TODO
<!--      <app-continuum-input [(continuum)]="continuumHigh"></app-continuum-input>-->
    </div>
  </div>
</app-scrollable-container>
