<div *ngIf="!isDataReady"> Loading...</div>
<div *ngIf="isDataReady">
  <div fxLayout="column" fxLayoutAlign="space-evenly stretch">


    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name" [(ngModel)]="name" name="name">
    </mat-form-field>


    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput cdkTextareaAutosize placeholder="Description" [(ngModel)]="description" name="description"></textarea>
    </mat-form-field>


    <div class="mat-headline">Span</div>
    <div fxLayout="row" fxLayoutAlign="space-evenly">
      <mat-form-field fxFlex="45">
        <mat-label>Latitude Low</mat-label>
        <input matInput placeholder="Latitude Low" [(ngModel)]="spanLatitudeLow" name="spanLatitudeLow">
      </mat-form-field>
      <mat-form-field fxFlex="45">
        <mat-label>Latitude High</mat-label>
        <input matInput placeholder="Latitude High" [(ngModel)]="spanLatitudeHigh" name="spanLatitudeHigh">
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-evenly">
      <mat-form-field fxFlex="45">
        <mat-label>Longitude Low</mat-label>
        <input matInput placeholder="Longitude Low" [(ngModel)]="spanLongitudeLow" name="spanLongitudeLow">
      </mat-form-field>
      <mat-form-field fxFlex="45">
        <mat-label>Longitude High</mat-label>
        <input matInput placeholder="Longitude High" [(ngModel)]="spanLongitudeHigh" name="spanLongitudeHigh">
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-evenly">
      <mat-form-field fxFlex="45">
        <mat-label>Altitude Low</mat-label>
        <input matInput placeholder="Altitude Low" [(ngModel)]="spanAltitudeLow" name="spanAltitudeLow">
      </mat-form-field>
      <mat-form-field fxFlex="45">
        <mat-label>Altitude High</mat-label>
        <input matInput placeholder="Altitude High" [(ngModel)]="spanAltitudeHigh" name="spanAltitudeHigh">
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-evenly">
      <mat-form-field fxFlex="45">
        <mat-label>Continuum Low</mat-label>
        <input matInput placeholder="Continuum Low" [(ngModel)]="spanContinuumLow" name="spanContinuumLow">
      </mat-form-field>
      <mat-form-field fxFlex="45">
        <mat-label>Continuum High</mat-label>
        <input matInput placeholder="Continuum High" [(ngModel)]="spanContinuumHigh" name="spanContinuumHigh">
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-evenly">
      <mat-form-field fxFlex="45">
        <mat-label>Reality Low</mat-label>
        <input matInput placeholder="Reality Low" [(ngModel)]="spanRealityLow" name="spanRealityLow">
      </mat-form-field>
      <mat-form-field fxFlex="45">
        <mat-label>Reality High</mat-label>
        <input matInput placeholder="Reality High" [(ngModel)]="spanRealityHigh" name="spanRealityHigh">
      </mat-form-field>
    </div>


    <div fxLayout="row" fxLayoutAlign="end stretch">
      <button mat-raised-button color="accent" [disabled]="!isDifferentFromData"> Save</button>
    </div>
  </div>

  <div>
    <b>Tags: </b>
    <ul>
      <li *ngFor="let tag of tags">{{tag}}</li>
    </ul>
  </div>
  <div>
    <b>Metadata: </b>
    <ul>
      <li *ngFor="let pair of metadata | keyvalue">{{pair.key}}: {{pair.value}}</li>
    </ul>
  </div>
</div>
