:host {
    display: block;
}

ul {
    margin: 0;
}

pre {
    margin: 0;
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}
