<div *ngIf="!isDataReady"> Loading...</div>
<div *ngIf="isDataReady">
  <div fxLayout="column" fxLayoutAlign="space-evenly stretch">


    <mat-form-field color="accent">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name" [(ngModel)]="name" name="name">
    </mat-form-field>


    <mat-form-field color="accent">
      <mat-label>Description</mat-label>
      <textarea matInput cdkTextareaAutosize placeholder="Description" [(ngModel)]="description" name="description"></textarea>
    </mat-form-field>


    <div class="mat-headline">Span</div>
    <div fxLayout="row" fxLayoutAlign="center">
      <div fxFlex="95">
        <div fxLayout="row" fxLayoutAlign="space-between">
          <mat-form-field fxFlex="48">
            <mat-label>Latitude Low</mat-label>
            <input matInput placeholder="Latitude Low" [(ngModel)]="spanLatitudeLow" name="spanLatitudeLow">
          </mat-form-field>
          <mat-form-field fxFlex="48">
            <mat-label>Latitude High</mat-label>
            <input matInput placeholder="Latitude High" [(ngModel)]="spanLatitudeHigh" name="spanLatitudeHigh">
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between">
          <mat-form-field fxFlex="48">
            <mat-label>Longitude Low</mat-label>
            <input matInput placeholder="Longitude Low" [(ngModel)]="spanLongitudeLow" name="spanLongitudeLow">
          </mat-form-field>
          <mat-form-field fxFlex="48">
            <mat-label>Longitude High</mat-label>
            <input matInput placeholder="Longitude High" [(ngModel)]="spanLongitudeHigh" name="spanLongitudeHigh">
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between">
          <mat-form-field fxFlex="48">
            <mat-label>Altitude Low</mat-label>
            <input matInput placeholder="Altitude Low" [(ngModel)]="spanAltitudeLow" name="spanAltitudeLow">
          </mat-form-field>
          <mat-form-field fxFlex="48">
            <mat-label>Altitude High</mat-label>
            <input matInput placeholder="Altitude High" [(ngModel)]="spanAltitudeHigh" name="spanAltitudeHigh">
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between">
          <mat-form-field fxFlex="48">
            <mat-label>Continuum Low</mat-label>
            <input matInput placeholder="Continuum Low" [(ngModel)]="spanContinuumLow" name="spanContinuumLow">
          </mat-form-field>
          <mat-form-field fxFlex="48">
            <mat-label>Continuum High</mat-label>
            <input matInput placeholder="Continuum High" [(ngModel)]="spanContinuumHigh" name="spanContinuumHigh">
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between">
          <mat-form-field fxFlex="48">
            <mat-label>Reality Low</mat-label>
            <input matInput placeholder="Reality Low" [(ngModel)]="spanRealityLow" name="spanRealityLow">
          </mat-form-field>
          <mat-form-field fxFlex="48">
            <mat-label>Reality High</mat-label>
            <input matInput placeholder="Reality High" [(ngModel)]="spanRealityHigh" name="spanRealityHigh">
          </mat-form-field>
        </div>
      </div>
    </div>


    <div class="mat-headline">Other Data</div>
    <div fxLayout="row" fxLayoutAlign="center">
      <div fxFlex="95">
        <div fxLayout="row" fxLayoutAlign="space-between" *ngFor="let metadataPair of metadataList; index as i">
          <mat-form-field fxFlex="25">
            <mat-label>Key</mat-label>
            <input matInput placeholder="Key" [(ngModel)]="metadataList[i][0]" (focusout)="sortMetadata()">
          </mat-form-field>
          <mat-form-field fxFlex="65">
            <mat-label>Value</mat-label>
            <input matInput placeholder="Val" [(ngModel)]="metadataList[i][1]" (focusout)="sortMetadata()">
          </mat-form-field>
          <button mat-fab color="warn" class="delete-button-small" (click)="deleteMetadata(metadataPair)" [disabled]="!isAllowedToDeleteMetadata">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        <div fxLayout="row" fxLayoutAlign="start">
          <button fxFlex="25" mat-raised-button color="primary" (click)="insertNewMetadata()"> Add New</button>
        </div>
      </div>
    </div>


    <div class="mat-headline">Tags</div>
    <div fxLayout="row" fxLayoutAlign="center">
      <div fxFlex="95">
        <div fxLayout="row wrap">
          <span fxLayout="row" fxLayoutAlign="center center" fxFlex.md="30" fxFlex.gt-md="20" fxFlex.lt-md="45"
                *ngFor="let tag of tagList; index as i; trackBy:identifyTag">
            <mat-icon svgIcon="tag" color="accent"></mat-icon>
            <span fxFlex="1"></span>
            <mat-form-field fxFlex="60">
              <input matInput [(ngModel)]="tagList[i]" (focusout)="sortTags()">
            </mat-form-field>
            <span fxFlex="1"></span>
            <button mat-fab color="warn" class="delete-button-tiny" (click)="deleteTag(tag)" [disabled]="!isAllowedToDeleteTag">
              <mat-icon>delete</mat-icon>
            </button>
          </span>
          <span fxLayout="row" fxLayoutAlign="center center" fxFlex.md="30" fxFlex.gt-md="20" fxFlex.lt-md="45">
            <span fxFlex="10"></span>
            <span fxLayout="column" fxFlex="80">
              <button fxFlex="50" mat-raised-button color="primary" (click)="insertNewTag()">Add New</button>
            </span>
          </span>
        </div>
      </div>
    </div>


    <div fxLayout="row" fxLayoutAlign="end stretch">
      <button mat-raised-button color="accent" [disabled]="!isDifferentFromPersistedLocation"> Save</button>
    </div>
  </div>
</div>
