// TODO: figure out how to get these from the global theme
$primary: rgb(156, 39, 176);
$accent: rgb(105, 240, 174);
$warn: rgb(244, 67, 54);


:host {
    display: block;
    height: 98vh;
    overflow-y: scroll;
    padding: 0 1.5ch 0 0;
}

ul {
    margin: 0;
}

pre {
    margin: 0;
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

button.delete-button-small {
    transform: scale(0.85);
}

button.delete-button-tiny {
    transform: scale(0.7);
}


// The emerging W3C standard, Firefox-only as of 2021-March-26
//noinspection CssUnknownProperty
:host {
    scrollbar-width: thin;
    scrollbar-color: $accent $primary;
}
// Works on Chrome/Edge/Safari
:host::-webkit-scrollbar {
    width: 10px;
}
:host::-webkit-scrollbar-track {
    background: $primary;
}
:host::-webkit-scrollbar-thumb {
    background-color: $accent;
    border-radius: 20px;
    border: 3px solid $primary;
}
