<app-map-canvas fxFlexFill
                (zoom)="handleInteraction({zoom: $event})"
                (pan)="handleInteraction({pan: $event})"
                (mapContextMenu)="handleInteraction({mapContextMenu: $event})"
></app-map-canvas>
<ng-template #mapContextMenu let-mapContextMenuEvent>
  <div fxLayout="column" class="map-context-menu">
    <button mat-button (click)="handleContextMenuInteraction(contextMenuActions.copyPosition, {mapContextMenuEvent})">
      {{mapContextMenuEvent.latitude}} {{mapContextMenuEvent.longitude}}
    </button>
    <button mat-button
            (click)="handleContextMenuInteraction(contextMenuActions.whatIsHere, {mapContextMenuEvent})"
            [matMenuTriggerFor]="mapContextSubmenuWhatIsHere">
      What's Here?
    </button>
  </div>
</ng-template>

<mat-menu #mapContextSubmenuWhatIsHere>
  <button mat-menu-item
          *ngFor="let nameIdPair of locationsUnderCursor"
          routerLink="/entity/{{worldId}}/{{nameIdPair.id}}">
    {{nameIdPair.name}}
  </button>
</mat-menu>
