<div fxFlexFill fxLayout="row" fxLayoutAlign="space-between stretch">
  <div fxFlex="95" fxLayout="column" fxLayoutAlign="space-between stretch">
    <div fxFlex="92" class="map-area">
      <!-- MAIN MAP AREA -->
<!--      <canvas fxFlexFill #mapCanvas width="1600" height="900"></canvas>-->
      <app-map-canvas fxFlexFill></app-map-canvas>
    </div>
    <div fxFlex="3">
      <!-- LATITUDE RANGE SCROLLBAR-->
      <app-range-scrollbar scrollDirection="horizontal" [limits]="latitudeLimits" [(selection)]="latitudeSelection"></app-range-scrollbar>
    </div>
    <div fxFlex="3">
      <!-- CONTINUUM RANGE SCROLLBAR-->
      <app-range-scrollbar scrollDirection="horizontal" [limits]="continuumLimits" [(selection)]="continuumSelection"></app-range-scrollbar>
    </div>
  </div>

  <div fxFlex="2" fxLayout="column" fxLayoutAlign="space-between stretch">
    <div fxFlex="92">
      <!-- LONGITUDE RANGE SCROLLBAR-->
      <app-range-scrollbar scrollDirection="vertical" [limits]="longitudeLimits" [(selection)]="longitudeSelection"></app-range-scrollbar>
    </div>
    <div fxFlex="3"></div>
    <div fxFlex="3"></div>
  </div>

  <div fxFlex="2" fxLayout="column" fxLayoutAlign="space-between stretch">
    <div fxFlex="92">
      <!-- ALTITUDE RANGE SCROLLBAR-->
      <app-range-scrollbar scrollDirection="vertical" [limits]="altitudeLimits" [(selection)]="altitudeSelection"></app-range-scrollbar>
    </div>
    <div fxFlex="3"></div>
    <div fxFlex="3"></div>
  </div>

</div>
